.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-button {
  background: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f2f5f8;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (max-width:767px) {
  .navigation-clean-button {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #1485ee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
  border-top-color: #ddd;
}

.navigation-clean-button.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: white;
  border-radius: 2px;
}

.navigation-clean-button .actions {
  margin-top: 7px;
  margin-bottom: 0;
  align-items: center;
}

.navigation-clean-button .actions .login {
  margin-right: 7px;
  text-decoration: none;
  color: #ffffff;
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
  background: transparent;
  border-radius: 0;
  color: #e04c40;
  box-shadow: none;
  border: 1px solid #e04c40;
  text-shadow: none;
  padding: 10px 22px;
  transition: background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
  background: #e04c40;
  color: #fff;
  font-weight: 400;
  border: 1px solid #df4c40;
}

.navbar {
  margin-bottom: 0;
}

.forgot-link.float-right {
  text-decoration: none;
}

.ml-1 {
  text-decoration: none;
}

.h4.font-weight-bold.text-theme {
  font-size: 60px;
}

.text-muted.mt-2.mb-5 {
  color: #663a21;
}

label {
  color: #663a21;
}

.text-muted.text-center.mt-3.mb-0 {
  color: #663a21;
}

.ml-1 {
  color: #ff9152;
}

.mt-3.mb-0 {
  color: #663a21;
}

.mt-2.mb-5 {
  color: #663a21;
}

.btn-theme {
  color: var(--bs-warning-bg-subtle);
  background: var(--bs-primary);
  border-color: var(--bs-secondary);
  border-radius: 10px;
  box-shadow: 2px 3px #e63c1740;
  width: 150px;
  height: 45px;
  font-size: 20px;
  margin-right: 1.5rem;
}

.img-logo {
}

img {
}

.img-logo {
  display: block;
  width: 25rem;
  margin: 0 auto;
}

.mb-5.container-princ {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: #fd7e14;
  font-size: 60px;
}

@media (max-width: 400px) {
  .btn-text {
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
  }
}

@media (max-width: 1000px) {
  .btn-theme {
    width: 200px;
    height: 45px;
  }
}

@media (max-width: 400px) {
  .btn-theme {
    margin-right: 0!important;
    margin-bottom: 1rem;
  }
}

.btn-theme:hover {
  background-color: var(--bs-light);
  color: #663a21;
  border-color: var(--bs-light);
  box-shadow: 2px 3px rgba(160,65,10,0.47);
}

@media (max-width: 400px) {
  img {
    width: 118px!important;
    height: 40px;
  }
}

.btn {
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.btn:hover {
  color: #391b09;
  background-color: #fcaf8e;
  border-color: #fb9b8d;
  border-width: 1px;
}

.card .btn {
  border-radius: 20px;
  padding-left: 16px;
  /*margin-left: 16px;*/
  /*background: transparent;*/
  border-style: none;
}

.card:hover .card-img {
  transform: scale(1.10);
}

.card .card-img {
  transition: all ease .3s;
}

